
.course-card {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  height: 10rem;
  border: #61a6a0 1px solid;
  border-radius: 5px;
  padding: 1rem;

  box-sizing: border-box;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  &__description-block {
    width: 65%;
    min-width: 65%;

    .course-card__title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  &__info-block {
    width: 25%;

    p {
      margin-bottom: .5rem;
    }
  }

}