.courses__wrapper{
  margin :0 1rem;

  .courses__menu {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    .search__wrapper{
      width: 32%;
      justify-content: space-between;
      display: flex;
      align-items: center;
    }
  }
}